header{
    background-color: white;
    margin-bottom: 10px;
    /* position: sticky; */
    }

.flex-1{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

ul{
    display: flex;
    gap: 10px;
}

li a{
    color: black;
    font-size: 13px;
}

button{
    border-color: none;
    background-color: blue;
    color: white;
    font-size: 13px;
    width: 50px;
}

#container-80{
    width: 80%;
    margin: 0 auto;
}

.container{
    display: flex;
   


}


section{
    background-color: aqua;
}

h1{
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    
}

.text-1{
    padding-block: 15px;
    font-size: 12px;
}

.btn__1{
    width: 150px;
    height: 30px;
    background-color: blue;
    border: none;
}

.img__1{
    position: relative;
}

/* .jumbo{
    position: absolute;
    bottom: -200px;
} */